h1 {font-size: 30px; color: black;}
h2 {font-size: 18px; right:200px}
header p{text-align:right}
main p{font-size:20px; text-align: center; 
  position: relative; top: -200px; 
  left: 200px;color: black}
img {opacity: 0.75}
.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 60%;
    height: 200px;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgb(177, 230, 248);
    overflow: hidden;
    width: 60%;
    height: 0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    white-space: pre-wrap; 
    color: black;
    text-align: center;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }